#homeBg{
  background-image:url("https://media.giphy.com/media/fAxJoWdIK7kSQ/giphy.gif");
  text-align:center;
  margin:0;
  width:100%;
}
body{
  background-color:#F1EFCB;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 18;
    width: 100%;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF5733;
}
#introHome{
  font-family: courier;
  margin: 5% 0;
}
.column{
  width=50%;
}
#mapTitle{
  text-align:center;
}
.google_map{
    width:.2%;
    margin-right:1%;
    float: right;
}
.google_map iframe{
   width:100%;
}
.paragraph {
    width:42%;
    float: right;
    font-family: courier;
}
.clearfix{
    clear:both
}
